.footer {
  padding: 60px 0;
  background-color: #2f303a;
  background-size: cover;
}

.adress__box {
  margin-right: 70px;
  flex-grow: 1;
}

.contacts__map {
  margin-bottom: 9px;

  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.contacts__address {
  margin-bottom: 9px;
}

.contacts__mail {
  margin-bottom: 9px;
}

.contacts__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.socialnets {
  display: block;
  margin-right: 93px;
}

.socialnets__connect {
  display: block;
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.nets-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nets-list__item {
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  & + & {
    margin-left: 10px;
  }
}

.nets-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: var(--accent-color);
  }
}

.nets-list__icon {
  align-items: center;
  justify-content: center;

  fill: var(--primary-white-color);
}

.mailing {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  color: #ffffff;
}

.mailing-form {
  padding: 10px 20px;
  width: 358px;
  height: 50px;
  font: inherit;

  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  color: var(--primary-white-color);
}

.mailing-box {
  display: flex;
}

.button-subs {
  display: flex;
  margin-left: 12px;
  align-items: center;
  text-align: center;
  padding-left: 29px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;

  background-color: var(--accent-color);
  color: var(--primary-white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: #188ce8;
  }
}

.button-subs__name {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: #ffffff;
}

.button-subs__icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}
