.logo {
  display: flex;
  color: var(--title-text-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  text-decoration: none;


  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 90px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-right: 88px;
  }
  @media screen and (min-width: 1200px)  {
    padding-right: 92px;
  }

}

.logo__accent {
  color: var(--accent-color);
}

.logo--contrast {
  display: inline-block;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: var(--primary-white-color);
  text-decoration: none;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    margin-bottom: 20px;
  }

}
