.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item {
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
}

.filter__btn {
  padding: 6px 22px;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border-radius: 4px;
  cursor: pointer;
  border: transparent;

  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.projects__link {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}

.card__descrip {
  display: block;
  position: absolute;
  left: 0;
  top: 0;

  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  height: 100%;
  width: 100%;
  color: var(--primary-white-color);

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .projects__link:hover &,
  .projects__link:focus & {
    transform: translateY(0);
  }
}

.card-title {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects__card {
  display: block;
  position: relative;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: var(--primary-margin-bottom);
  }
}

.card-title__project {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-title__work {
  margin-top: 4px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
