.section--nopadding-top {
  padding-top: 0;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.section__ttitle-margin-bottom {
  margin-bottom: 50px;
}

.works {
  display: flex;
}

.works__item {
  position: relative;
  width: 370px;
  margin-right: 30px;
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.works__meta {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;

  background-color: rgba(47, 48, 58, 0.8);
}

.works__name {
  font-size: 14px;
  line-height: calc(16 / 14);
  margin: 0;
  text-transform: uppercase;

  color: #ffffff;
}
