.body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__footer {
  display: flex;
  align-items: baseline;
}

.section {
  width: 100%;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
